DATABASE_URL='your_database_url_here'
BCRYPT_SALT_ROUND=
JWT_SECRET=''
GITHUB_CLIENT_ID=''
GITHUB_CLIENT_SECRET=''
GITHUB_CALLBACK_URL=
GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''
GOOGLE_CALLBACK_URL=
IP_INFO_TOKEN=''